/openVPN*
/vpnSemad*

/adt-bundle
/Bashrc
/bin
/oci8*

/*save

/cria
/eclipse*
/netbeans*
/smartgit*
/sqldevelop*
/t50*
/tor*

/ARQ*
/composer*
/composer.phar
/RELATORIO*
/new_installer_offline*
/*repack*

/proxy_rc

/FreeNet
